@font-face {
  font-family: "enigma";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/enigma/EnigmaB_2.eot"),
      url("../fonts/enigma/EnigmaticBold.woff") format("woff"),
      url("../fonts/enigma/EnigmaB_2.woff2") format("woff2"),
      url("../fonts/enigma/EnigmaB_2.ttf") format("truetype"),
      url('../fonts/enigma/EnigmaticBold.svg') format('svg');
}
