@font-face {
  font-family: "silom";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Silom/Silom.eot"),
      url("../fonts/Silom/Silom.woff") format("woff"),
      url("../fonts/Silom/Silom.woff2") format("woff2"),
      url("../fonts/Silom/Silom.ttf") format("truetype"),
      url('../fonts/Silom/Silom.svg') format('svg');
}
