<div class="nav">
    <div class="container">
        <nav>
            <ul>
                <li><a href="">LOGO</a></li>
                <li><a href="">about</a></li>
                <li><a href="">my work</a></li>
                <li><a href="">contact</a></li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        <img src="img/fb.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/in.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="img/git.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
