<div class="nav">
    <div class="container">
        <nav class="navbar">
            <ul class="menu">
                <li><a href="#topPage" class="scroll">DARIA ONOFREI</a></li>
                <li><a href="#aboutMe" class="scroll">about</a></li>
                <li><a href="#myWorks">my works</a></li>
                <li><a href="#contacts">contact</a></li>
            </ul>
            <ul class="menu right-menu">
                <li>
                    <a href="">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</div>
